// COLOR CUBE
$WhiteColor : #ffffff;

$CodGrayColor : #060606;

$WindsorColor : #6b0c7a;

$MonzaColor : #bc0428;

$SilverColor : #bcbcbc;

$DodgerBlueColor : #009B72;

$JumboColor : #78787a;

$AstronautBlueColor : #014461;

$BurntSiennaColor : #ec5a57;

$VerdunGreenColor : #504e00;

$YellowColor : #fffd42;


// MEDIAN CUT
$OrientalPinkColor : #bc8b96;

$CinderColor : #0d0b12;

$CosmicColor : #683551;

$DaisyBushColor : #4321aa;

$SeaNymphColor : #709e9c;


// MATERIAL DESIGN
$ShirazColor : #a00644;

$MongooseColor : #b6967e;

$BlueGemColor : #4613a0;

$CocoaBrownColor : #362428;

$RoyalBlueColor : #4257ef;
