@use "./partials/variables.scss" as *;
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@100;200;300;400;500;600;700&display=swap');

.blue-btn{
    background-color: $DodgerBlueColor;
    color: $WhiteColor;
    font-size: 1rem;
    font-weight: 500;
    padding: 1rem 2.2rem 0.8rem;
    border-radius: 30px;
    transition: all 0.2s ease-in-out;
    &:hover{
        background-color: $BurntSiennaColor;
    }
}

.red-title{
    color: #ff444f;
}